<h1>Payment information</h1>

<ul>
	<li><%= link_to("#{@payment.student.first_name} #{@payment.student.last_name}", :controller => 'students', :action => 'show', :id => @payment.student.id) %></li>
	<li><%= @payment.payment_date.strftime("%m/%d/%Y") %></li>
	<li><%= number_to_currency(@payment.amount) %></li>
</ul>
