body{
	padding: 0;
	margin: 0;
}

div#classLabelsContainer ul{
	list-style: none;
	padding: 0px 0px 0px 20px;
}

div#classLabelsContainer{
	border: 1px solid #fff;
	width: 735px;
	height: 913px;
	padding: 0px;
	text-align: center;
}

div#classLabelsContainer table{
	border-collapse: collapse;
}

div#classLabelsContainer td{
	border: 1px solid #fff;
	width: 243px;
	height: 90px;
	padding: 24px 0px 0px 5px;
}

.classLabelsSpacerRow{
	height: 2px;
}
