body{
	margin: 0;
	padding: 0;
}

div#officeRecordContainer {
	width: 700px;
	height: 920px;
	margin: 0 0 35px 0;
	font-family: sans-serif;
}

div#officeRecordHeader {
	text-align: center;
	font-size: .7em;
}

div#officeRecordHeader h1{
	margin: 0;
}

div#officeRecordHeader h2{
	margin: 0;
}

div#officeRecordHeader h3{
	margin: 0;
}

div#printClassInstructorData{
	margin: 9px 0 -28px 0;
}

div#printClassInstructorData td{
	padding: 0 72px 0 0;
}

div#printClassInstructorArea {
	float: left;
	width: 265px;
	border-top: 1px solid #000;
	margin: 29px 0px 0px 0px;
	font-family: serif;
}

.printInstructorLabelRight {
	padding: 0px 0px 0px 73px;
}

div#printAgreementSection {
	float: right;
	margin: -25px 0px 0px 0px;
	font-family: serif;
}

div#printAgreementSection td {
	font-size: .9em;
}

.printPerRegEntry{
	border-bottom: 1px solid #000;
	width: 75px;
}

div#printStudentInformationArea {
	margin: 101px 0px 0px 27px;
	font-family: serif;
}

.printStudentInformationAreaLeft {
	width: 459px;
}

div#classroomPrintBottomChartArea {
	margin: 10px 0px 0px 0px;
}

div#classroomPrintBottomChartArea table {
	width: 100%;
	border: 1px solid #000;
	border-collapse: collapse;
}

div#classroomPrintBottomChartArea td {
	border: 1px solid #000;
	max-width: 61px;
	font-size: 0.8em;
	text-align: center;
}

.classroomPrintChartColumnHeader {
	border: 1px solid #000;
	width: 53px;
	text-align: center;
	font-size: 0.8em;
	padding: 0px 5px 0px 5px;
}

.classroomPrintLeftMostColumn {
	text-align: center;
	height: 36px;
}

div#classroomTotalsArea td{
	padding: 2px 12px 2px 0;
	text-align: right;
	font-size: 0.8em;
}

.classroomTotalsAreaBuffer{
	padding: 0 0 0 35px;
	font-weight: bold;
}

div#btwPrintViewMiddleTable table{
	border-collapse: collapse;
}

div#btwPrintViewMiddleTable td{
	border: 1px solid #000;
}

.btwPrintViewMiddleTableExpirationDate {
	vertical-align: top;
	width: 188px;
	height: 52px;
}

.btwPrintViewMiddleTableNotes {
	text-align: left;
	vertical-align: top;
	width: 696px;
	height: 80px;
}

div#btwPrintBottomChartArea {
	margin: 5px 0px 0px 0px;
}

div#btwPrintBottomChartArea table {
	width: 100%;
	border: 1px solid #000;
	border-collapse: collapse;
}

div#btwPrintBottomChartArea td {
	border: 1px solid #000;
}

.btwPrintChartColumnHeader {
	border: 1px solid #000;
	width: 67px;
	font-size: 0.8em;
	text-align: center;
	padding: 0px 5px 0px 5px;
}

.btwPrintLeftMostColumn {
	height: 31px;
}

.btwPrintHoursTotalColumn {
	height: 20px;
}

.btwPrintHoursData {
	padding: 0 4px 0 4px;
	font-size: 0.6em;
	text-align: center;
	font-weight: bold;
}

.btwPrintSessionData {
	padding: 0 4px 0 4px;
  font-size: 0.49em;
}
